#title {
    left: 575px;
    top: 95px;
    position: absolute;
    overflow: visible;
    width: 377px;
    white-space: nowrap;
    text-align: left;
    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(0,0,0,1);
}