@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff") format('woff');
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format('woff');
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format('woff');
    font-weight: bold;
}

html {
    line-height: 1.5;
    margin: 0;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Cafe24Oneprettynight';
    word-break: keep-all;
}

a {
    color: black;
}

.w3-bar {
    max-width: 600px;
    float: right;
}

.w3-bar-item {
    text-decoration: none;
    color: black;
    border-color: rgba(0,0,0,0);
    border-bottom: 6px solid rgba(0,0,0,0) !important;
    margin-left: 2em;
}

.w3-bar-item:hover {
    border-bottom: 3px solid rgba(68,114,196,1) !important;
}

nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 55px;
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    vertical-align: center;
}

.blue {
    color: rgba(68,114,196,1);
}

.logo-container {
    width: 160px;
    position: absolute;
    top: 0.3em;
}

.logo-container a {
    font-family: 'Cafe24Ohsquare';
    /* font-family: MS Reference Sans Serif; */
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: none;
}

.nav-container {
    display: block;
    margin: 5px;
}

#background_photo {
    position: absolute;
    width: 1546px;
    height: 688px;
    left: -10px;
    top: 33px;
    overflow: hidden;
}
#I {
    left: 128px;
    position: absolute;
    /* font-family: MS Reference Sans Serif; */
    font-family: 'Cafe24Ohsquare';
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    color: rgba(0,0,0,1);
}
#Sea {
    left: 240px;
    top: 95px;
    position: absolute;
    /* font-family: MS Reference Sans Serif; */
    font-family: 'Cafe24Ohsquare';
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    color: rgba(68,114,196,1);
}

#See_Sea {
    left: 130px;
    top: 295px;
    position: absolute;
    font-family: 'Cafe24Ohsquare';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
}

#detail {
    left: 133px;
    top: 353px;
    position: absolute;
    font-family: 'Cafe24Ohsquare';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
}

#container {
    padding-left: 200px;
    padding-right: 200px;
}

h3 {
    text-align: center;
}

#about {
    background-color: dimgrey;
}

#title_risk_indicator {
    left: 605px;
    top: 60px;
    position: absolute;
    overflow: visible;
    width: 377px;
    white-space: nowrap;
    text-align: left;
    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(0,0,0,1);
}
#risk_indicator {
    background-color: #ffffff;
    border: 10px solid rgba(112,112,112,1);
    position: absolute;
    width: 901px;
    height: 236px;
    left: 350px;
    top: 187px;
}

#start_btn {
    background-color: #ffffff;
    border: 10px solid rgba(0,112,192,1);
    position: absolute;
    width: 450px;
    height: 236px;
    left: 350px;
    top: 456px;
    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(0,0,0,1);
}
#end_btn {
    background-color: #ffffff;
    border: 10px solid rgba(255,0,0,1);
    position: absolute;
    width: 450px;
    height: 236px;
    left: 820px;
    top: 456px;
    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: rgba(0,0,0,1);
}

@media screen and (max-width: 750px) {
    .nav-container .w3-bar {
        display: none;
    }
    .nav-container .menu {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .nav-container.responsive .w3-bar {
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 55px;
        left: 0;
    }
}

@media all and (max-width:1024px) {
    #title_risk_indicator {
        left: 270px;
        font-size: 40px;
    }
    #risk_indicator {
        width: 500px;
        height: 135px;
        left: 130px;
    }
    
    #start_btn {
        width: 250px;
        height: 135px;
        left: 130px;
        top: 356px;
        font-size: 30px;
    }
    #end_btn {
        width: 250px;
        height: 135px;
        left: 400px;
        top: 356px;
        font-size: 30px;
    }
}
@media all and (max-width:450px) {
    #title_risk_indicator {
        left: 120px;
        top: 100px;
        font-size: 30px;
    }
    #risk_indicator {
        width: 300px;
        height: 100px;
        left: 50px;
    }
    
    #start_btn {
        width: 150px;
        height: 135px;
        left: 50px;
        top: 316px;
        font-size: 25px;
    }
    #end_btn {
        width: 150px;
        height: 135px;
        left: 220px;
        top: 316px;
        font-size: 25px;
    }
}