<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- pybo CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/monitoring.css') }}"
    />
    <script src="{{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}"></script>
    <title>해양사고 모니터링</title>
  </head>

  <body>
    <h2 style="text-align: center">해양사고 모니터링</h2>
    <div
      id="map"
      style="width: 600px; height: 600px; margin: 0 auto; text-align: center"
    ></div>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5809f065dee3814fd0fa4741416f9f1&libraries=clusterer"></script>
    <script src="{{ url_for('static', filename='js/map-control.js') }}"></script>
  </body>
</html>
